button {
    background: lightslategrey;
    display: block;
    width: 93%;
    margin: 14px 1px;
    text-align: left;
}
  
span {
    margin-left: 10px;
    text-transform: uppercase;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
}
  
.icon {
    font-size: 29px;
    margin-bottom: 8px;
}
  
h3 {
    text-align: center;
}