.login-container {
    width: 37vw;
    height: max-content;
    padding: 13% 31%;
}

.login-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.login-group {
    display: grid;
}